In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2013/Divvy_Trips_2013.csv', low_memory=False)

In [6]:
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2013/Divvy_Stations_2013.csv')

In [8]:
df_2013 = pd.concat([df1, df2], axis=1)

In [9]:
print(df_2013.head())

   trip_id         starttime          stoptime  bikeid  tripduration  \
0     4118  2013-06-27 12:11  2013-06-27 12:16     480           316
1     4275  2013-06-27 14:44  2013-06-27 14:45      77            64
2     4291  2013-06-27 14:58  2013-06-27 15:05      77           433
3     4316  2013-06-27 15:06  2013-06-27 15:09      77           123
4     4342  2013-06-27 15:13  2013-06-27 15:27      77           852

   from_station_id           from_station_name  to_station_id  \
0               85       Michigan Ave & Oak St             28
1               32  Racine Ave & Congress Pkwy             32
2               32  Racine Ave & Congress Pkwy             19
3               19       Loomis St & Taylor St             19
4               19       Loomis St & Taylor St             55

                    to_station_name  usertype gender  birthday    id  \
0        Larrabee St & Menomonee St  Customer    NaN       NaN   5.0
1        Racine Ave & Congress Pkwy  Customer    NaN       NaN  13.0
2             Loomis St & Taylor St  Customer    NaN       NaN  14.0
3             Loomis St & Taylor St  Customer    NaN       NaN  15.0
4  Halsted St & James M Rochford St  Customer    NaN       NaN  16.0

                         name   latitude  longitude  dpcapacity  landmark  \
0      State St & Harrison St  41.873958 -87.627739        19.0      30.0
1  Wilton Ave & Diversey Pkwy  41.932500 -87.652681        19.0      66.0
2         Morgan St & 18th St  41.858086 -87.651073        15.0     163.0
3        Racine Ave & 18th St  41.858181 -87.656487        15.0     164.0
4         Wood St & North Ave  41.910329 -87.672516        15.0     223.0

  online date
0   6/28/2013
1   6/28/2013
2   6/28/2013
3   6/28/2013
4   8/12/2013

In [10]:
df_2013.drop(['gender', 'birthday'], axis=1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,id,name,latitude,longitude,dpcapacity,landmark,online date
0,4118,2013-06-27 12:11,2013-06-27 12:16,480,316,85,Michigan Ave & Oak St,28,Larrabee St & Menomonee St,Customer,5.0,State St & Harrison St,41.873958,-87.627739,19.0,30.0,6/28/2013
1,4275,2013-06-27 14:44,2013-06-27 14:45,77,64,32,Racine Ave & Congress Pkwy,32,Racine Ave & Congress Pkwy,Customer,13.0,Wilton Ave & Diversey Pkwy,41.932500,-87.652681,19.0,66.0,6/28/2013
2,4291,2013-06-27 14:58,2013-06-27 15:05,77,433,32,Racine Ave & Congress Pkwy,19,Loomis St & Taylor St,Customer,14.0,Morgan St & 18th St,41.858086,-87.651073,15.0,163.0,6/28/2013
3,4316,2013-06-27 15:06,2013-06-27 15:09,77,123,19,Loomis St & Taylor St,19,Loomis St & Taylor St,Customer,15.0,Racine Ave & 18th St,41.858181,-87.656487,15.0,164.0,6/28/2013
4,4342,2013-06-27 15:13,2013-06-27 15:27,77,852,19,Loomis St & Taylor St,55,Halsted St & James M Rochford St,Customer,16.0,Wood St & North Ave,41.910329,-87.672516,15.0,223.0,8/12/2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759783,1109257,2013-12-31 21:12,2013-12-31 21:16,1917,284,20,Sheffield Ave & Kingsbury St,93,Sheffield Ave & Willow St,Subscriber,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759784,1109276,2013-12-31 21:36,2013-12-31 22:01,2859,1493,227,Southport Ave & Waveland Ave,228,Damen Ave & Melrose Ave,Subscriber,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759785,1109283,2013-12-31 22:03,2013-12-31 22:13,198,650,284,Michigan Ave & Jackson Blvd,43,Michigan Ave & Washington St,Subscriber,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759786,1109309,2013-12-31 22:10,2013-12-31 22:16,2048,346,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759787,1109338,2013-12-31 22:35,2013-12-31 22:49,2239,868,216,California Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,NaN,NaN,NaN,NaN,NaN,NaN,NaN